# Игнорируем каталоги с зависимостями и кэшем Python
__pycache__/
*.pyc
*.pyo
venv/

# Игнорируем файлы и каталоги Git
.git/

# Игнорируем каталог с логами
logs/

# Игнорируем временные директории и файлы
tmp/

# Осторожно с исключением файлов конфигурации и секретов.
# Если эти файлы необходимы для запуска вашего приложения, их исключение может привести к сбоям.
# *.config
# *.env
# *.secret

# Игнорируем директории и файлы, созданные IDE или текстовыми редакторами
.vscode/
.idea/

# Добавьте другие папки и файлы, которые не должны быть включены в ваш Docker-образ
