# Игнорируем каталоги с зависимостями и кэшем Python
__pycache__/
*.pyc
*.pyo
venv/

# Игнорируем локальные конфигурационные файлы и секреты
*.config
*.env
*.secret

# Игнорируем каталог с логами
logs/

# Игнорируем каталог с бинарными файлами и дистрибутивами
dist/
*.egg-info/

# Игнорируем IDE-специфичные файлы (например, для PyCharm)
.idea/
.vscode/


# Если есть тестовые данные, которые не должны попадать в репозиторий
# test_data/

# Добавьте другие папки и файлы, которые не должны быть включены в ваш Git-репозитарий
